.weapon-doc-card {
  width: 300px;
  padding: 10px 12px;
  font-size: 0.9rem;
  background: linear-gradient(
    145deg,
    var(--common-rarity), 
    color-mix(in srgb, var(--black-90), transparent 40%) 35%
  );
  backdrop-filter: blur(5px);
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--common-rarity),
    4px 4px 0 2px color-mix(in srgb, var(--common-rarity), transparent 40%);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .name {
      font-size: 1.3rem;
    }

    .icon {
      width: 30px;
      font-size: 3rem;
    }

    & p.common {
      color: var(--white-40);
    }
  }

  .prop-name {
    color: #7a7a7a;
    font-size: 0.85rem;
    padding-bottom: 3px;
  }

  .prop-container {
    padding-bottom: 12px;

    &.group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .description {
    max-height: 160px;
    overflow-y: auto;
  }

  .dmg-value {
    font-size: 0.85rem;
    margin-right: 10px;
  }

  .card-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .weapon-attr {
    display: inline-block;
    padding: 3px 5px;
    text-shadow: 0 1px 3px var(--black-90);
    background-color: var(--black-60);
    box-shadow: 0 0 0 2px var(--black-55);
    font-size: 0.79rem;
    border-radius: 4px;
  }
}
