* {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --black-90: #050505;
  --black-80: #111;
  --black-75: #181818;
  --black-70: #222;
  --black-65: #282828;
  --black-60: #333;

  --white-80: #eee;
}

body {
  font-family: caudex, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark {
  --bg-color: var(--black-90);
  --font-color: var(--white-80);

  --content-bg: var(--black-65);
}

/*Header*/
.main-header {
  padding: 8px 10px;
}

/* Common Layout*/
.container {
  max-width: 1400px;
  padding: 12px;
}

/* Proficiencies */
.proficiency-container {
  display: flex;
  padding: 12px 0;
  gap: 12px;

  .skills {
    flex: 2;

    & h3 {
      font-size: 1.5rem;
    }

    .skills-display {
      margin-top: 12px;
      padding: 10px;
      background-color: var(--content-bg);
      border-radius: 4px;
    }
  }

  .result {
    flex: 1;

    & h3 {
      font-size: 1.5rem;
    }
  }
}

.proficiencies-title-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.proficiency-title {
  width: 49%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--black-75);
  transition: all 150ms;

  &:hover {
    background-color: var(--black-80);
  }
  
  & span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
