.skill-card {
  position: relative;
  background-color: var(--black-65);
  padding: 12px 16px;
  border-radius: 4px;
  border: 2px solid var(--black-65);
  box-shadow: 0 2px 3px var(--black-80);
  transition: all 150ms;

  & .check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--blue-80);
    top: -12px;
    left: -12px;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    scale: 0;
    transition: all 250ms;

    & svg {
      width: 22px;
    }
  }

  &.selected {
    border-color: var(--blue-80);

    & .check {
      scale: 1;
    }
  }

  .main-content {
    cursor: pointer;
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .type {
    font-weight: bolder;

    &.passive {
      color: #549446;
    }
  }

  .description {
    margin-top: 8px;
  }

  .benefits-details {
    background-color: var(--black-70);
    margin-top: 6px;
    padding: 4px 8px;
    border-radius: 4px;
    
    & summary {
      font-weight: bolder;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border: solid currentColor;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        rotate: -45deg;
        transition: all 150ms;
      }
    }

    &[open] summary:before {
      translate: 2px -3px;
      rotate: 45deg;
    }
  }
}
