.proficiency-doc-card {
  padding: 4px 0;
  flex: 1;

  .name {
    font-size: 1.35rem;
    padding-bottom: 6px;
  }

  .type {
    font-weight: bold;
    font-size: 0.95rem;

    &.ability {
      color: var(--brown-50);
    }

    &.combat {
      color: var(--red-50);
    }
    
    &.conjuration {
      color: var(--blue-50);
    }
    
    &.knowledge {
      color: var(--yellow-50);
    }
    
    &.moviment {
      color: var(--green-50);
    }
    
    &.social {
      color: var(--purple-50);
    }
  }

  .description {
    padding-top: 6px;
    text-align: justify;
  }
}
