.skills-title-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 14px 16px;

  .skill-title {
    text-decoration: none;
    width: calc(50% - 10px);
    min-width: 280px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 150ms;

    &.button {
      padding: 6px 12px;
      border-radius: 6px;
      background-color: var(--black-70);
      box-shadow: 0 2px 3px var(--black-80);
    }

    &.button:hover {
      background-color: var(--black-80);
    }

    &.button span {
      font-weight: bold;
    }

    &.link:hover {
      text-decoration: underline;
    }

    & span {
      font-size: 1.2rem;
    }
  }
}
