.home-header {
  padding-top: 20px;
  padding-bottom: 40px;

  & h1 {
    font-family: Caudex, sans-serif;
    font-size: 3.2rem;
    text-align: center;
  }
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

  > * {
    flex: 1;
    min-width: 300px;
  }
}
