.adverse-status-page-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 42px 12px;
  margin-top: 20px;

  > * {
    width: 48%;
  }
}

.adverse-status-card {
  .title {
    font-size: 1.45rem;
    margin-bottom: 12px;
  }
}
