.adverse-status-page-content {
  columns: 2;
  column-gap: 40px;
  margin: 20px 0;

  > * {
    width: 100%;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.adverse-status-card {
  .title {
    font-size: 1.45rem;
    margin-bottom: 12px;
  }
}
