/*
  Fonts: 
    Caudex for titles
    Sintony for major texts
*/

* {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --black-90: #050505;
  --black-85: #0d0d0d;
  --black-80: #111;
  --black-75: #181818;
  --black-70: #222;
  --black-65: #282828;
  --black-60: #333;
  --black-50: #444;

  --white-80: #eee;

  --blue-80: #45d;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Sintony', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark {
  --bg-color: var(--black-85);
  --font-color: var(--white-80);

  --content-bg: var(--black-75);
}

/* Common Layout*/
.container {
  max-width: 1400px;
  padding: 12px;
}

/* Buttons */
.back-button {
  width: 38px;
  height: 38px;
  color: currentColor;
  border: 0;
  border-radius: 50px;
  background-color: var(--black-50);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: var(--black-70);
  }
}

/* Default Lists */
.list {
  padding-left: 24px;

  & li {
    list-style: disc;
  }
}
