/*
  Fonts: 
    Caudex for titles
    Sintony for major texts
*/

* {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #111a;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #444;
  }
}

:root {
  --black-90: #050505;
  --black-85: #0b0b0b;
  --black-80: #111111;
  --black-75: #181818;
  --black-70: #222222;
  --black-65: #282828;
  --black-60: #333333;
  --black-50: #444444;

  --white-90: #f5f5f5;
  --white-80: #eaeaea;
  --white-75: #e8e8e8;
  --white-70: #e0e0e0;
  --white-65: #ddd;
  --white-60: #d8d8d8;
  --white-55: #ccc;
  --white-50: #c0c0c0;
  --white-45: #bbb;
  --white-40: #b0b0b0;

  --blue-80: #45d;
  --blue-60: #4e8dcc;
  --blue-50: #629eda;

  --red-50: #da5e5e;

  --green-70: #549446;
  --green-50: #76ce60;

  --yellow-50: #e9c85b;

  --brown-50: #bd774e;

  --purple-50: #a964eb;

  --common-rarity: var(--black-60);
}

html, body {
  height: 100%;
}

body {
  font-family: 'Sintony', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark {
  --bg-color: var(--black-85);
  --font-color: var(--white-80);

  --content-bg: var(--black-75);
}

#app {
  height: 100%;
}

/* Common Layout*/
.container {
  max-width: 1600px;
  width: 100%;
  height: fit-content;
  padding: 0px 12px;
  margin: auto;
}

/* Buttons */
.back-button {
  width: 38px;
  height: 38px;
  color: currentColor;
  border: 0;
  border-radius: 50px;
  background-color: var(--black-50);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: var(--black-70);
  }
}

/* Default Lists */
.list {
  padding-left: 24px;

  & li {
    list-style: disc;
    padding: 4px 0;
  }
}

.link {
  color: currentColor;
  text-decoration: underline;
  cursor: pointer;
}

.bold {
  font-weight: bold;
  color: var(--white-90);
}

/* Documentation content */
.doc-description {
  padding: 12px 14px;
  padding-bottom: 20px;
}

section.doc-content {
  padding: 12px 14px;
  padding-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

/* Colors */
.red {
  color: var(--red-50);
}

.green {
  color: var(--green-50);
}

.blue {
  color: var(--blue-50);
}

.yellow {
  color: var(--yellow-50);
}

.brown {
  color: var(--brown-50);
}

.purple {
  color: var(--purple-50);
}

/* Docs Details List */
.details-list {
  margin-top: 6px;
  padding: 4px 8px;
  
  & summary {
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    &:before {
      content: '';
      width: 6px;
      height: 6px;
      border: solid currentColor;
      border-width: 0 3px 3px 0;
      border-radius: 2px;
      rotate: -45deg;
      transition: all 150ms;
    }
  }

  &[open] summary:before {
    translate: 2px -3px;
    rotate: 45deg;
  }
}

app-link {
  display: block;
}
