/*
  Fonts: 
    Caudex for titles
    Sintony for major texts
*/

* {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #111a;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #444;
  }
}

:root {
  --black-90: #050505;
  --black-85: #0d0d0d;
  --black-80: #111;
  --black-75: #181818;
  --black-70: #222;
  --black-65: #282828;
  --black-60: #333;
  --black-50: #444;

  --white-80: #eee;

  --blue-80: #45d;
  --blue-60: #4e8dcc;
  --blue-50: #629eda;

  --red-50: #da5e5e;

  --green-70: #549446;
  --green-50: #76ce60;

  --yellow-50: #e9c85b;

  --brown-50: #bd774e;

  --purple-50: #a964eb;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Sintony', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark {
  --bg-color: var(--black-85);
  --font-color: var(--white-80);

  --content-bg: var(--black-75);
}

#app {
  height: 100%;
}

/* Common Layout*/
.container {
  max-width: 1600px;
  width: 100%;
  height: calc(100% - 55px);
  padding: 0px 12px;
  margin: auto;
}

/* Buttons */
.back-button {
  width: 38px;
  height: 38px;
  color: currentColor;
  border: 0;
  border-radius: 50px;
  background-color: var(--black-50);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: var(--black-70);
  }
}

/* Default Lists */
.list {
  padding-left: 24px;

  & li {
    list-style: disc;
    padding: 4px 0;
  }
}

.link {
  color: currentColor;
  text-decoration: underline;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
